body{
    border: 3px solid green;
    min-height: 100vh;
}
.container{
    margin: auto;
    display:grid;
    border: 2px solid #222;
    height: 99vh;
    width: 99%;
    grid-template-columns: [grid-col-start]1fr [col-2-start]1fr [col-3-start]1fr [col-4-start]1fr [col-5-start]1fr [col-6-start]1fr [col-7-start]1fr [col-8-start]1fr[grid-col-end];
    grid-template-rows: [grid-row-start]1fr [row-2-start]1fr [row-3-start]1fr [row-4-start]1fr [row-5-start]1fr [row-6-start]1fr [row-7-start]1fr [row-8-start]1fr[grid-row-end];
    grid-template-areas: "one one one one one one one one one" /*adjust here as needed*/
                        "two two two two two two two two two"
                        "three three three three three three three three" 
                        "four four four four four four four four" 
                        "five five five five five five five five" 
                        "six six six six six six six six" 
                        "seven seven seven seven seven seven seven seven" 
                        "eight eight eight eight eight eight eight eight"     
}
.header{
    background-color: red;
    height: 15vh;
    grid-area: one;
    
}
.colorSeperator{
    background-color: orange;
    height: 10vh;
    grid-area: eight;
}
.people{
    background-color: yellow;
    display: hidden;
}
